<div id="main-slide">
  <div id="theTarget" class="shadow-lg">
    <div class="main-slide-image1"></div>
    <div class="main-slide-image2"></div>
    <div class="main-slide-image3"></div>
    <div class="main-slide-image4"></div>
  </div>
</div>
<div class="main-visual mb-5 shadow-lg">
  <h2 class="main-visual__title">People have some stories.<br>People can write lyrics.</h2>
</div>
<div class="pc-content">
  <div class="pc-content__btn cubic mr-5">
    <%= link_to new_user_registration_path do %>
    <span class="hovering">Sign up</span><span class="default">First time user?</span>
    <% end %>
  </div>
  <div class="pc-content__btn cubic ml-5">
    <%= link_to new_user_session_path do %>
    <span class="hovering">Sign in</span><span class="default">Already have an account?</span>
    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>