<ul class="nav justify-content-center h3 mb-3">
  <li class="">
    <%= link_to "全投稿", posts_path, class: "nav-link" %>
  </li>
  <li class="">
    <%= link_to "フォロー中", following_posts_path, class: "nav-link disabled text-dark" %>
  </li>
</ul>
<%= render 'posts/index', posts: @posts %>