<ul class="nav justify-content-center h3 mb-3">
  <li class="">
    <a class="nav-link disabled text-dark" href="#">全投稿</a>
  </li>
  <li class="">
    <%= link_to "フォロー中", following_posts_path, class: "nav-link" %>
  </li>
</ul>
<%= render 'posts/index', posts: @posts %>