 <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link disabled text-dark" href="#">投稿が新しい順</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">いいねが多い順</a>
  </li>
  <li class="nav-item">
     <a class="nav-link" href="#">投稿が古い順</a>
  </li>
</ul>
<%= render 'posts/index', posts: @posts %>