// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import'variables';

#main-slide {
  width: 100%;
  height: 500px;
}
.main-slide-image1 {
  background-image: url(main-slide-image1.jpg);
}
.main-slide-image2 {
  background-image: url(main-slide-image2.jpg);
}
.main-slide-image3 {
  background-image: url(main-slide-image3.jpg);
}
.main-slide-image4 {
  background-image: url(main-slide-image4.jpg);
}

.main-visual {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: url('top-image4.jpg') top center / cover no-repeat;
}

.main-title {
   margin: 0;
   font-size: 70px;
   font-weight: normal;
   font-family: "Osaka";
   color: #fff;
   line-height: 3em;
}

$cWhite: white;
$cBlack: black;

#container {
  text-align: center;
}

.answer {
  margin-bottom: 200px;
  .btn {
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    perspective: 300px;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;

    &.cubic {
      & span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $cBlack;
        line-height: 48px;
        text-align: center;
        transition: all 0.3s;
        transform-origin: center center -25px;

      }

      & .hovering {
        background-color: $cBlack;
        color: $cWhite;
        transform: rotateX(90deg);
      }

      & .default {
        background-color: $cWhite;
        color: $cBlack;
        transform: rotateX(0);
      }

      &:hover {
        & .hovering {
          transform: rotateX(0);
        }
        & .default {
          transform: rotateX(-90deg);
        }
      }
    }
  }
}

.footer {
  padding: 60px 0;
  width: 100%;
  background-color: white;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    margin-left: 0;
    margin-right: 30px;
    justify-content: flex-start;

    & > a {
      color: $cSubTitle;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: flex-start;
  }
}