// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import'variables';

.post-nav-item {
  color: black;
  font-size: 1.5rem;

  margin: 3em;

  &__text {
    color: $cSubTitle;

    &:hover {
      text-decoration: none;
      color: black;
    }
  }

  &__select {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 3em;

    &__text {
      color: black;

      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }
}